docker.enabled = true

params{
	reads = "/home/simon/input/Hsapiens_{1,2}.fq"
	transcriptome = "/home/simon/input/hg19.fa"
	gtf = "/home/simon/input/ref-transcripts.gtf"
	ref_cdna = "/home/simon/input/homo_sapiens.fa"
	baseDir = "/home/simon/GitHub/workflow-kallisto-split"
	split = 10

	threads = Runtime.runtime.availableProcessors()
}

process{
	withLabel: fastp{
	container = 'nanozoo/fastp'
	}
	
	withLabel: kallisto{
	container = 'zlskidmore/kallisto'
	}
	withLabel: cufflinks{
	container = 'dceoy/cufflinks'
	}
	withLabel: check_strandedness{
	container = 'ninedem/check_strandedness'
	}
}	

